body 
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #20159b;
    background: -webkit-linear-gradient(to right, #4b219f, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 

}

.container 
{   margin-left: 1.8em;
    padding: 70px;
    border-radius: 12px;
    background: rgb(7, 26, 28);
    margin-left: 15px;
}

.content 
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button 
{
    width: 70px;
    height: 60px;
    font-size: 16px;
    border: 2px;
    outline: none;
    margin: 1px;
    border-radius: 40px;
    transition: .1s;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px #cbced1,
                inset -2px -2px 2px #ffffff;
    
}


.display #screen 
{
    margin-bottom: .5em;
    width: 280px;
    height: 60px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

#eval 
{
    background: rgb(235, 173, 57);
    color: #fff;
    cursor: pointer;
}

#ac 
{
    background: orange;
    color: #fff;
    cursor: pointer;
}

#ce 
{
    background: orange;
    color: #fff;
    cursor: pointer;
}


h2

{
    font-size: 40px;
    position: relative;  
    bottom: 1em; 
    margin-left: 1.2em;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
}

h2 span
{
color: orange;
margin-top: 20px;
font-size: 45px;
margin-left : -0.75em;


}

h2 .fa
{
    position: absolute; 
    top: 1.5em;
    color: #396c7d;
    
}